.header {
	background-color: #1c242a;

	// .header__container
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		height: 75px;
	}

	// .header__logo
	&__logo {}

	// .header__menu
	&__menu {}

	// .header__actions
	&__actions {}
}

.menu {
	padding: 0px 0px 0px 30px/950px * 100%;
	flex: 1 1 auto;

	// .menu__icon
	&__icon {}

	// .menu__body
	&__body {
		transition: all 0.3s ease;
	}

	// .menu__list
	&__list {
		display: flex;
		justify-content: center;

		li {
			margin: 0 15px;
		}
	}

	// .menu__link
	&__link {
		font-family: 'PFDin-reg';
		letter-spacing: 1.4;
		color: #fff;
		text-transform: uppercase;

		@media (min-width: 992px) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// Burger
.icon-menu {}

.actions-header {
	display: flex;
	align-items: center;

	// .actions-header__region
	&__region {
		@extend .menu__link;
		line-height: 18px;
		padding: 0px 0px 0px 30px;
		min-width: 18px;
		min-height: 18px;
		background: url(../img/header/globe.png) left no-repeat;

		@media (max-width: 890px) {
			padding: 0px 0px 0px 0px;
			span {
				display: none;
			}
		}
	}

	// .actions-header__user
	&__user {
		padding: 0px 0px 0px 30px;

		@media (max-width: 890px) {
			padding: 0px 0px 0px 15px;
		}
	}
}

.user-header {

	// 
	&__icon {
		cursor: pointer;
	}

	// .user-header__menu
	&__menu {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
		padding: 20px;
		top: 88px;
		right: 0;
		position: absolute;
		background-color: #1c242a;

		li {
			margin: 0px 0px 8px 0px;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}

		&._active {
			top: 78px;
			opacity: 1;
			visibility: visible;
		}
	}

	// .user-header__link
	&__link {
		padding: 0px 0px 0px 30px;
		line-height: 18px;
		display: inline-block;
		color: #fff;

		@media (min-width: 992px) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	// .user-header__link_1
	&__link_1 {
		background: url(../img/header/hover-globe.png) 1px center no-repeat;
	}

	// .user-header__link_2
	&__link_2 {
		background: url(../img/header/hover-key.png) left center no-repeat;
	}

	// .user-header__link_3
	&__link_3 {
		background: url(../img/header/hover-palm.png) 4px center no-repeat;
	}

	// .user-header__link_4
	&__link_4 {
		background: url(../img/header/hover-hammer.png) left center no-repeat;
	}
}