.header {
	background-color: #1c242a;

	// .header__container
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		height: 75px;
	}

	// .header__logo
	&__logo {
		position: relative;
		z-index: 2;
		width: 144px;

		@media (max-width: 767px) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// .header__menu
	&__menu {}

	// .header__actions
	&__actions {}
}

.menu {
	padding: 0px 0px 0px 30px/950px * 100%;
	flex: 1 1 auto;

	// .menu__icon
	&__icon {}

	// .menu__body
	&__body {
		@media (max-width: 767px) {
			background-color: rgba(29, 37, 43, 0.8);
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			overflow: auto;
			padding: 80px 0px 20px 0px;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease;

			&:after {
				content: "";
				background-color: #1c242a;
				position: fixed;
				width: 100%;
				height: 75px;
				left: 0;
				top: 0;
			}
			&.active{
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// .menu__list
	&__list {
		display: flex;
		justify-content: center;

		li {
			margin: 0 15px;
		}

		@media (max-width: 767px) {
			display: block;
			text-align: center;

			li {
				margin: 0px 0px 30px 0px;

				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
	}

	// .menu__link
	&__link {
		font-family: 'PFDin-reg';
		letter-spacing: 1.4;
		color: #fff;
		text-transform: uppercase;

		@media (min-width: 992px) {
			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width: 767px) {
			font-size: 24px;
		}
	}
}

// Burger
.icon-menu {}

.actions-header {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;

	// .actions-header__region
	&__region {
		@extend .menu__link;
		line-height: 18px;
		padding: 0px 0px 0px 30px;
		min-width: 18px;
		min-height: 18px;
		background: url(../img/header/globe.png) left no-repeat;

		@media (max-width: 890px) {
			padding: 0px 0px 0px 0px;

			span {
				display: none;
			}
		}
	}

	// .actions-header__user
	&__user {
		padding: 0px 0px 0px 30px;

		@media (max-width: 890px) {
			padding: 0px 0px 0px 15px;
		}
	}
}

.user-header {

	// 
	&__icon {
		cursor: pointer;
	}

	// .user-header__menu
	&__menu {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
		padding: 20px;
		top: 88px;
		right: 0;
		position: absolute;
		background-color: #1c242a;
		min-width: 185px;

		li {
			margin: 0px 0px 8px 0px;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}

		&._active {
			top: 50px;
			opacity: 1;
			visibility: visible;
		}
	}

	// .user-header__link
	&__link {
		padding: 0px 0px 0px 30px;
		line-height: 18px;
		display: inline-block;
		color: #fff;

		@media (min-width: 992px) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	// .user-header__link_1
	&__link_1 {
		background: url(../img/header/hover-globe.png) 1px center no-repeat;
	}

	// .user-header__link_2
	&__link_2 {
		background: url(../img/header/hover-key.png) left center no-repeat;
	}

	// .user-header__link_3
	&__link_3 {
		background: url(../img/header/hover-palm.png) 4px center no-repeat;
	}

	// .user-header__link_4
	&__link_4 {
		background: url(../img/header/hover-hammer.png) left center no-repeat;
	}
}