body {
	font-family: 'PT Sans', sans-serif;
	// background-color: ;
	// color: ;
	// font-size: ;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 970px;
}

.visually__hidden {
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}