@font-face {
	font-family: 'BravoRGRegular';
	src:
		url(../fonts/BravoRGRegular.woff) format('woff'),
		url(../fonts/BravoRGRegular.woff2) format('woff2');
}

@font-face {
	font-family: 'PFDin-reg';
	font-weight: 400;
	src:
		url(../fonts/pfdintextcondpro-regular.woff) format('woff'),
		url(../fonts/pfdintextcondpro-regular.woff2) format('woff2');
}

@font-face {
	font-family: 'PFDin-med';
	font-weight: 500;
	src:
		url(../fonts/pfdintextcondpro-medium.woff) format('woff'),
		url(../fonts/pfdintextcondpro-medium.woff2) format('woff2');
}

@font-face {
	font-family: 'Ceremonious';
	src:
		url(../fonts/ceremonious_one.woff) format('woff'),
		url(../fonts/ceremonious_one.woff2) format('woff2');
}